:root {
    --bc: rgb(179, 179, 179);
}

body {
    margin: 0;
    padding: 2rem;
    background-color: var(--bc);
}

.books {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.book {
    text-align: center;
    background-color: white;
    width: 30rem;
    border-radius: 1.5rem;
}

.book button {
    font-size: 1rem;
}


::backdrop {
    background: var(--bc);
    opacity: 0.9;
  }